$font-family: 'Source Sans Pro', sans-serif;
@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css');

:host {
  font-family: $font-family;

  .navbar-brand {
    font-weight: 200;
    font-size: 30pt;
    letter-spacing: .1em;
  }
}
