@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,600,700,900');

$font-family: 'Source Sans Pro', sans-serif;

html, body {
  font-family: $font-family;
  width: 100vw;
  height: 100vh;
}
